{% extends "base.html" %}
{% load static %}


{% block content %}


<div class="container text-center">
    <div class="row starter ">
        <h3 class=>Starter</h3>

        <div class="col-lg-6">

            <div class="card" style="width:400px">
                <img class="card-img-top"
                    src="https://res.cloudinary.com/dsqivkxci/image/upload/v1641309365/antipasto-3484840_1280_uiaaid.jpg"
                    alt="Card image">
                <div class="card-body">
                    <h4 class="card-title">Affettati Misti</h4>
                    <p class="card-text">a selection of cold cuts and cheeses for two people</p>
                    <a href="#" class="btn btn-primary">8€</a>
                </div>
            </div>
        </div>

        <div class="col-lg-6">

            <div class="card" style="width:400px">
                <img class="card-img-top"
                    src="https://res.cloudinary.com/dsqivkxci/image/upload/v1641309365/fig-3640553_1280_hn8hzq.jpg"
                    alt="Card image">
                <div class="card-body">
                    <h4 class="card-title">Formaggi e fichi</h4>
                    <p class="card-text">croutons with cheese and figs</p>
                    <a href="#" class="btn btn-primary">6€</a>
                </div>
            </div>
        </div>

        <div class="col-lg-6">

            <div class="card" style="width:400px">
                <img class="card-img-top"
                    src="https://res.cloudinary.com/dsqivkxci/image/upload/v1641309364/gourmet-5619887_1280_qmirg1.jpg"
                    alt="Card image">
                <div class="card-body">
                    <h4 class="card-title">Bruschette</h4>
                    <p class="card-text">classic bruschetta with tomato oil and oregano</p>
                    <a href="#" class="btn btn-primary">4€</a>
                </div>
            </div>
        </div>

    </div>

    <div class="row main-course">
        <h3 class="text-center">Main Course</h3>

        <div class="col-lg-6">

            <div class="card" style="width:400px">
                <img class="card-img-top"
                    src="https://res.cloudinary.com/dsqivkxci/image/upload/v1641309363/food-1942403_1280_q9bt6c.jpg"
                    alt="Card image">
                <div class="card-body">
                    <h4 class="card-title">Pasta al ragu</h4>
                    <p class="card-text">pasta with wild boar ragu</p>
                    <a href="#" class="btn btn-primary">10€</a>
                </div>
            </div>
        </div>

        <div class="col-lg-6">

            <div class="card" style="width:400px">
                <img class="card-img-top"
                    src="https://res.cloudinary.com/dsqivkxci/image/upload/v1641309364/meat-5582176_1280_e5qnmi.jpg"
                    alt="Card image">
                <div class="card-body">
                    <h4 class="card-title">Tagliata</h4>
                    <p class="card-text">tender cut of beef</p>
                    <a href="#" class="btn btn-primary">16€</a>
                </div>
            </div>
        </div>

        <div class="col-lg-6">

            <div class="card" style="width:400px">
                <img class="card-img-top"
                    src="https://res.cloudinary.com/dsqivkxci/image/upload/v1641309363/food-5987888_1280_nruucn.jpg"
                    alt="Card image">
                <div class="card-body">
                    <h4 class="card-title">Lasagna</h4>
                    <p class="card-text">lasagna with bolognese sauce</p>
                    <a href="#" class="btn btn-primary">10€</a>
                </div>
            </div>
        </div>

        <div class="col-lg-6">

            <div class="card" style="width:400px">
                <img class="card-img-top"
                    src="https://res.cloudinary.com/dsqivkxci/image/upload/v1641309364/salmon-6353898_1280_ydzetb.jpg"
                    alt="Card image">
                <div class="card-body">
                    <h4 class="card-title">Salmone grigliato</h4>
                    <p class="card-text">grilled salmon</p>
                    <a href="#" class="btn btn-primary">14€</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row dessert">
        <h3 class="text-center">Dessert</h3>

        <div class="col-lg-6">

            <div class="card" style="width:400px">
                <img class="card-img-top"
                    src="https://res.cloudinary.com/dsqivkxci/image/upload/v1641309363/food-3338312_1280_wlmoyp.jpg"
                    alt="Card image">
                <div class="card-body">
                    <h4 class="card-title">Tiramisu</h4>
                    <p class="card-text">desserts based on biscuits soaked in coffee and covered with cream</p>
                    <a href="#" class="btn btn-primary">5€</a>
                </div>
            </div>
        </div>

        <div class="col-lg-6">

            <div class="card" style="width:400px">
                <img class="card-img-top"
                    src="https://res.cloudinary.com/dsqivkxci/image/upload/v1641309363/biscuits-4388560_1280_odjlmi.jpg"
                    alt="Card image">
                <div class="card-body">
                    <h4 class="card-title">Cantucci</h4>
                    <p class="card-text">biscuits with almonds to be dipped in the passito</p>
                    <a href="#" class="btn btn-primary">6€</a>
                </div>
            </div>
        </div>


    </div>

</div>

{% endblock %}