{% extends "base.html" %}
{% load static %}

{% block content %}

<table class="table">
    <thead>
        <tr>
            <th scope="col">N. of Guests</th>
            <th scope="col">Time Slot</th>
            <th scope="col">Day</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>

    <tbody>
        {% for bookings in user_booking_list %}
        <tr>
            <td>{{bookings.party_size}}</td>
            <td>{{bookings.time}}</td>
            <td>{{bookings.date}}</td>
            <td>
                <a href="/edit/{{ bookings.id }}">
                    <button>Edit</button>
                </a>
                <a href="/delete/{{ bookings.id }}">
                    <button>Delete</button>
                </a>
            </td>
        </tr>
        {% endfor%}
    </tbody>
</table>


{% endblock %}